Source: py-blkid
Section: main/python
Priority: optional
Maintainer: Waqar Ahmed <waqarahmedjoyia@live.com>
Build-Depends: debhelper-compat (= 12), dh-python, python3-all, python3-dev, cython3, libblkid-dev, python3-setuptools
Standards-Version: 4.4.1
Homepage: https://github.com/truenas/py-blkid

Package: python3-blkid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Python libblkid bindings
 py-blkid is a set of python bindings for
 libblkid which helps retrieve information
 for block devices.
